body {
    background-image: url(/images/pattern-background-desktop.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: hsl(225, 100%, 94%);
    font-family: 'Red Hat Display', sans-serif;
    
}

p {
    font-size: 13px;
    font-weight: 500;
    line-height: 1.8;
    color: hsl(224, 23%, 55%);
}

.payment a {
    color: white;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
}
.container {
    text-align: center;
    /* border: solid; */
    margin: 100px 390px;
    height: 600px; 
    width: auto;
    border-radius: 20px;
    box-sizing: border-box;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    

}

.header-img img {
    height: 100%;
    width: 100%;
    /* object-fit: contain; */
    border-radius: 10px 10px 0 0;
    
   
}

.plan-container {
    background-color: hsl(225, 100%, 98%);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: none;
    
    /* padding-left: 20px; */
    /* padding-right: 20px; */
    
    
}

.left {
    display: flex;
    align-items: center;
    gap: 10px;    
    
}

.right a {
    color: hsl(245, 75%, 52%);
    font-size:12px;
    font-weight: 900;
}

.summary, .plan-container, .payment, .cancel {
    margin: 0 30px;
    /* border: solid; */
    padding: 0 20px;
}

.summary p {
    /* border: solid; */
    margin-bottom: 0;
}

.payment {
    background: hsl(245, 75%, 52%);
    color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 8px 10px hsl(259, 18%, 69%);
}

.cancel p {
    font-weight: 700;
    margin-bottom: 30px;
}


