body {
    background-image: url(/images/pattern-background-desktop.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: hsl(225, 100%, 94%);
    font-family: 'Red Hat Display', sans-serif;   
    /* border: solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
    
       
}

/* containers */
.header-img, 
.header-img img, 
.summary, 
.plan-container, 
.payment, 
.cancel {
    width: 350px;
    background-color: white;
    flex: 0 0 auto;
}
.header-img {
    /* border: solid; */
    height: 180px;
    margin-top: 80px;
    margin-bottom: 0;

    border-radius: 20px 20px 0 0;
}

.header-img img {
    
    border-radius: 20px 20px 0 0;
}

.summary {
    margin-top: 0;
    text-align: center;
    padding-top: 15px;
}

.summary div {
    /* border: solid green; */
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 0;
}

.plan-container .greybox {
    background-color: hsl(225, 100%, 98%);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
    
}

.leftside, 
.rightside {
    padding: 18px;
}


.leftside {
    display: flex;
    gap: 13px;
    align-items: center;
}

.payment {
    /* border: solid black; */
    text-align: center;
    
}

.payment .bluebox {
    background: hsl(245, 75%, 52%);
    border-radius: 10px;
    box-shadow: 0 8px 10px hsl(259, 18%, 69%);
    margin: 18px 40px;
    padding: 9px
}
.payment a {  
    color: white;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
}

.cancel {
    /* border: solid orange; */
    text-align: center;
    padding-bottom: 30px;
    border-radius: 0 0 20px 20px;
    
}

.attribution {
    margin-top: 60px;
}

/* fonts and sizes */

#price {
    font-size: 13px;
    font-weight: 500;
    color: hsl(224, 23%, 55%);
}

#plan-title {
    font-weight: 900;
    font-size: 13px;
}

p {
    font-size: 13px;
    font-weight: 500;
    line-height: 1.8;
    color: hsl(224, 23%, 55%);
}

h2 {
    font-weight: 900;
}


.rightside a {
    color: hsl(245, 75%, 52%);
    font-size:12px;
    font-weight: 900;
}



.cancel a {
    font-weight: 700;
    color: hsl(224, 23%, 55%);
    font-size: 13px;
    text-decoration: none;
    
}


